[submodule "recipes-react-typescript"]
	path = recipes-react-typescript
	url = https://github.com/johnfrog76/recipes-react-typescript.git
[submodule "Fluent-UI-DetailsList"]
	path = Fluent-UI-DetailsList
	url = https://github.com/johnfrog76/Fluent-UI-DetailsList.git
[submodule "html-bowling"]
	path = html-bowling
	url = https://github.com/johnfrog76/html-bowling.git
[submodule "weather-app"]
	path = weather-app
	url = https://github.com/johnfrog76/WeatherApp.git